/* ==================================================================
=========================== BASE STYLE ==============================
================================================================== */
/* Pour contenir les bordures à l'intérieur d'un élément */
* {
box-sizing: border-box;
}
/* Pour enlever les marges par default et font par default */
body, html {
height: 100%; /* pour que la page prenne 100% de la page ce qui espace le header et footer même s'il n'y a pas de contenu */
margin: 0 0 0 0;
padding: 0 0 0 0;
font-family: 'Nunito', sans-serif;
background-color: #f2f2f2;
}
/* ==================================================================
=========================== BLOC__PAGE ==============================
================================================================== */
/* pour que la page prenne 100% de la page ce qui espace le header et footer même s'il n'y a pas de contenu */
.block__page {
width: 900px;
min-height: 100%;
margin: auto; 
}
/* Page Navigateur */
.presentation {
border: 4mm ridge rgba(10, 189, 227, .8);
padding: 10px 20px 10px 20px;
margin-bottom: 20px;
}
/* Page Navigateur */
.navigateur, .modules {
border: 4mm ridge rgba(4, 111, 236, .8);
padding: 10px 20px 10px 20px;
margin-bottom: 20px;
}
/* Page Sublimtext */
.sublimetext, .packages {
border: 4mm ridge rgba(233, 132, 0, .8);
padding: 10px 20px 10px 20px;
margin-bottom: 20px;
}
/* Page à propos de moi */
.aboutme {
border: 4mm ridge rgba(10, 189, 227, .8);
padding: 10px 20px 10px 20px;
margin-bottom: 20px;
}
.h2__page {
	text-align: center;
	font-size: 35px; /* taille de l'icone */
}
.h3__page {
	font-size: 25px; /* taille de l'icone */
}
/* ======================= MEDIAQUERIES ========================= */
@media only screen and (max-width: 900px) {
.block__page {
width: 100vw;
margin: 0 0 0 0;
}
.h2__page {
	font-size: 32px; /* taille de l'icone */
}
}
/* ==================================================================
================== FORMULAIRE COMMENTAIRE ==========================
================================================================== */
input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
/* Pour la page Navigateur */
.blue:focus {
   background-color: #3489ed;
}
.submit__blue {
  background-color: #3489ed;
}
.submit__blue:focus, .submit__blue:focus {
  background-color: #135faf;
}
/* Pour la page Editeur de texte */
.orange:focus {
   background-color: #ed9d33;
}
.submit__orange {
  background-color: #ed9d33;
}
.submit__orange:focus, .submit__orange:focus {
  background-color: #af7933;
}
label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-weight: bold;
}

input[type=submit] {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
.container__form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  border: 2px solid #000;
  box-shadow: 1px 1px 1px #000;
  border-radius: 6px;
  margin-bottom: 20px;
}
.field__name {
  float: left;
  width: 25%;
  margin-top: 6px;
}
.field {
  float: left;
  width: 75%;
  margin-top: 6px;
}
/* Pour effacer les flotant après les colonnes */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* ======================= MEDIAQUERIES ========================= */
/* empile tout les uns sur les autres */
@media screen and (max-width: 900px) {
  .field__name, .field, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
/* ==================================================================
================== MODAL JAVASCRIPT DIAGRAMME =======================
================================================================== */
#diagramme {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s; /* effet slow motion */
}
/* opacité au passage de la souris */
#diagramme:hover {
	opacity: 0.7;
}
/* le background du modal */
.modal {
  display: none; /* fermer par default */
  position: fixed; /* fixé */
  z-index: 1; 
  padding-top: 100px; /* position de la box */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; /* pour activer le défilement */
  background-color: rgb(0,0,0); /* au cas où l'opacité ne fontcionne pas sur un navigateur */
  background-color: rgba(0,0,0,0.9); /* couleur avec opacité */
}
/* Modal de l'image */
.modal__content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 950px;
}
/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
/* Add Animation */
.modal__content, #caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}
@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}
/* le bouton pour fermer le modal */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
/* ======================= MEDIAQUERIES ========================= */
@media only screen and (max-width: 700px){
  .modal__content {
    width: 100%;
  }
}